* {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

body {
  background-color: #1D1E2E;

}

.dashboard-first {
  float:left;
  color: #74757B;
  font-size: 13px;
  text-align: left;
}

.dashboard-number {
  font-size: 60px;
  color: #fff;
}

.dashboard-card-body {
  background-color: #26293C;
}

.dashboard-header {
  color: #FFFFFF;
  font-size: 20px;
}

.dashboard-list {
  line-height: 30px;
}

.nav-aside {
  height: 100%;
  width: 250px;
  border-radius: 24px;
  border-right-color: #1D1E2E;
  margin-left: 15px;
  margin-top: 15px;
}

.nav-aside-menu {
  border-radius: 24px;
}

.content {
  background-color: #1D1E2E;
  height: 100%;
}
